<header class="mb-4">
  <div class="flex flex-row items-baseline gap-2">
    <h1 class="text-2xl font-bold">ALADDIN</h1>
    &mdash;
    <div class="text-md uppercase">A<span class="text-sm">ssisted</span> L<span class="text-sm">iving</span> A<span class="text-sm">ctivities</span> D<span class="text-sm">irector</span> D<span class="text-sm">iagnostic</span> I<span class="text-sm">nformation</span> N<span class="text-sm">otepad</span></div>
  </div>
  <h2 class="text-lg font-bold">Activities Calendar</h2>
</header>

<%= render 'calendar' %>
