<%= turbo_frame_tag dom_id(resident) do %>
  <% if resident.current? %>
    #<%= resident.room %> :
  <% end %>
  <%= link_to resident.name, resident_path(resident), class: "text-blue-600 underline", data: { turbo_frame: "_top" } %>
  <span class="ml-2 invisible group-hover:visible">
    [ <%= link_to 'edit', edit_resident_path(resident), class: "text-blue-600 underline" %> ]
  </span>
<% end %>
