<h1 class="text-2xl font-bold"><%= @activity.name %> (<%= @activity.abbv %>)</h1>
<% if @activity.archived? %>
  <div class="italic text-red-600 text-sm">This activity was archived <%= time_ago_in_words(@activity.archived_at) %> ago.
<% end %>


<div class="mt-8">
  We'll show a calendar here with all the sessions for this
  activity.
</div>
